{%- set external_urls = {
  'github': 'https://github.com/EnzymeAD/enzyme',
  'github_issues': 'https://github.com/EnzymeAD/enzyme/issues',
  'contributing': 'https://github.com/EnzymeAD/enzyme/blob/master/CONTRIBUTING.md',
  'docs': 'https://enzyme.mit.edu/docs/stable/index.html',
  'discourse': 'https://discourse.llvm.org/c/projects-that-want-to-become-official-llvm-projects/enzyme/45',
  'discord': 'https://discord.gg/xS7Z362',
  'tutorials': 'https://enzyme.mit.edu/tutorials',
  'home': 'https://enzyme.mit.edu',
  'get_started': 'https://enzyme.mit.edu/get-started',
  'features': 'https://enzyme.mit.edu/features',
}
-%}
